<div class="main-contents">
    <div class="contents">
        <div class="top-image">
            <img src="http://www.onsentakuhaibin.com/images/index/img_mainvisual02.jpg" alt="温泉イメージ" width="800" height="400"></img>
        </div>
         <div class="portion" style="float:left">
                <p>一覧</p>
             <div class="rate">
                    
             </div>
         </div>
         <div class="ranking" style="float:right">
        <div class="ranking-title">
            ランキング
            <div class="ranking-detail">
                
            </div>
        </div>
    </div>
    <div class="recently" style="float:left">
        最近の口コミ
    </div>
    </div>
</div>
    