 <div class="main_wrapper">
  <h3><詳細ページ></h3>
  <div class="shousai">
   <div class="shousai-title">
     <%= @product.title %>
     </div>
   <div class="shousai-image" style="text-align:center">
     <img src="<%= @product.image_url %>" alt="<%= @product.title %>"width="800" height="400">
     </div>
     <div class="shousai-explain">
      <%= @product.explain %>
     </div>
     
      <div class="example">
       <h2>代表的な温泉</h2>
       <img></img>
       <img></img>
       <img></img>
      </div>
  </div>
  
  <div class="comment-flame">
   uuu
  </div>
  
 </div>